*, html, body{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.centerbox{
    width: 510px;
    height: 420px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.profile{
    width:120px;
    height:120px;
    border-radius: 50%;
}
.content h1,
.content h2{
    text-align: center;
} 
.content p{
    margin-top: 10px;
    text-indent: 30px;
}
.social{
    margin: 25px auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    width: 400px;
  
}
.social h1{
    text-align: center;
    
}
.icon{
   display: flex;
   justify-content: center;
   flex-direction: row;
 
}
.fa-instagram,
.fa-facebook,
.fa-github{
   color: white;
   font-size: 25px;
   margin: 2px 10px;
}
.fa-instagram:hover,
.fa-facebook:hover,
.fa-github:hover{
   color: rgb(179, 179, 179);
   font-size: 25px;
   margin: 2px 10px;
}


